#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Rebels
    name= _"Rebels"
    image="units/elves-wood/sylph.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Elvish Sylph
    leader=Elvish Sylph,Great Mage
    random_leader=Elvish Sylph,Great Mage
    recruit=Elvish Avenger,Elvish Marshal,Elvish Champion,Elvish Outrider,Elvish Shyde,Elvish Enchantress,Arch Mage,Silver Mage,Mage of Light,Merman Entangler,Merman Javelineer,Ancient Wose,Elvish Sharpshooter,Elvish Fighter,Elvish Hero,Elvish Captain,Elvish Archer,Elvish Marksman,Elvish Ranger,Mage,Red Mage,White Mage,Elvish Shaman,Elvish Druid,Elvish Sorceress,Elvish Scout,Elvish Rider,Wose,Elder Wose,Merman Hunter,Merman Spearman,Merman Netcaster
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
